<div class="mt-5 mb-5 ">
    <img src={{details.profile}} alt="" class="d-block mx-auto imgg mt-5" width="200px" height="250px">
    <div class="text-center mt-3">
    <h3>NAME      : {{details.name}}</h3>
    <h3>EMAIL     : {{details.email}}</h3>
    <h3>PROFESSION: {{details.profession}}</h3>
    <h3>MOBILENO  : {{details.mobileno}}</h3>
    <h3>ADDRESS   :</h3>
        <h5>STREET: {{details.address.street}}</h5>
        <h5>CITY: {{details.address.city}}</h5>
        <h5>PINCODE: {{details.address.pincode}}</h5>
    

    </div>
</div>
<div>

</div>